@model HRMS.solution.Models.ViewModels.UserLoginViewModel

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Login</h1>
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" id="username" class="form-control" asp-for="Username" required />
                            <span class="text-danger" asp-validation-for="Username"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" id="password" class="form-control" asp-for="Password" required minlength="6" />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                        <div class="mb-3 text-center justify-content-between">
                            <button type="submit" class="btn btn-dark">Login</button>
                            <a href="@Url.Action("Register")" class="btn btn-outline-dark flex-fill ml-2">Register New Account</a>
                        </div>

                        <input type="hidden" asp-for="ReturnUrl" />
                    </form>
                    @* <div class="text-center">
                        <a asp-action="Register">Register New Account</a>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
